html {
    height: 100%;
    width: 100%;
  }
  
  * {
    /* background-color: lightpink; */
    text-align: center;
    /* justify-content: center; */
  }
  
  .container {
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    align-items: center;
   
  }
  .reset{
    padding: 1rem;
    
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    /* position: fixed; */
  }
  #msg {
    /* color: #ffffc7; */
    font-size: 5vmin;
  }
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  .hide {
    display: none;
  }